<ion-header [translucent]="true" collapse="fade" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>ACCUEIL</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
    <ion-row>
      <ion-col size="12">
        <div class="debut" routerLink="/main/pointage">
          <ion-label>DEBUT</ion-label>
          <img alt="Silhouette of mountains" src="/assets/img/arrive1-removebg-preview.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="rapport" routerLink="/main/rapport">
          <ion-label>RAPPORT</ion-label>
          <img alt="Silhouette of mountains" src="/assets/img/rapport1-removebg-preview.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="signale" routerLink="/main/signale">
          <ion-label>SIGNALE</ion-label>
          <img alt="Silhouette of mountains" src="/assets/img/incident-removebg-preview.png" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="programme" routerLink="/main/pointage">
          <ion-label>PROGRAMME</ion-label>
          <img alt="Silhouette of mountains" src="/assets/img/programme-removebg-preview.png" />
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">
        <ion-card class="rapport" routerLink="/main/rapport">
          <img alt="Silhouette of mountains" src="/assets/img/rapport1.png" />
          <ion-card-header>
            <ion-card-title>RAPPORT</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="signaler" routerLink="/main/signaler">
          <img alt="Silhouette of mountains" src="/assets/img/incident.png" />
          <ion-card-header>
            <ion-card-title>SIGNALE</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card class="programme" routerLink="/main/programmes">
          <img alt="Silhouette of mountains" src="/assets/img/programme.png" />
          <ion-card-header>
            <ion-card-title>PROGRAMME</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
     -->

   
  </div>
</ion-content>
