<!--
<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>COMPTE</ion-list-header>
        <ion-note>hi&#64;ionicframework.com</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>

        <ion-item  (click)="logout()" lines="none">
          <ion-icon slot="start" color="primary" name="power-outline" md="power-sharp"></ion-icon>
          <ion-label>Se deconnecter</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-tabs id="myTabBar">
    <ion-tab-bar *ngIf="showTabs">
      <ion-tab-button tab="accueil">
        <ion-icon name="home-outline"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button class="arrive" tab="pointage">
        <ion-icon name="scan-circle-outline"></ion-icon>
        Scanné
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-split-pane>
 -->


 <ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header> {{userInfo?.u_lastname}} </ion-list-header>
        <ion-list-header> {{userInfo?.u_email}} </ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon aria-hidden="true" slot="start" name="share-social-outline"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-list id="labels-list">
        <ion-menu-toggle>
          <ion-list-header></ion-list-header>

          <ion-item  (click)="logout()" lines="none">
            <ion-icon slot="start" color="primary" name="power-outline" md="power-sharp"></ion-icon>
            <ion-label>Se deconnecter</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>

<!-- Tabs for navigation -->

<ion-tabs id="myTabBar">
  <ion-tab-bar *ngIf="showTabs">
    <ion-tab-button tab="accueil">
      <ion-icon name="home-outline"></ion-icon>
      Accueil
    </ion-tab-button>
    <ion-tab-button class="arrive" tab="pointage">
      <ion-icon name="scan-circle-outline"></ion-icon>
      Scanné
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-split-pane>
