.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    block-size: 70vh;
    margin-top: 98px;
  }
  
  .logo {
    max-inline-size: 200px;
    margin-block-end: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-block-end: 20px;
  }
  

  .login-button-new {
    margin-block-start: 20px;
    background-color: #289976 !important;
  }
  
  .forgot-password {
    margin-block-start: 20px;
    text-align: center;
  }
  
  .forgot-password a {
    color: #888;
    text-decoration: none;
  }
  
  .register-link {
    margin-block-start: 20px;
    text-align: center;
  }
  
  .register-link a {
    color: #888;
    text-decoration: none;
  }
  ion-item{
    // margin-bottom: 10px;
    margin: 10px;
    // border: 1px solid #888;
    box-shadow: 0px 0px 10px var(--box-color);
    --box-color: #6a6b6d;
    ion-label{
      font-size: 12px;
      color: #888;
      font-style: italic;
    }
   
  }
  ion-list{
    width: 120%;
    margin-left: -28px;
    // box-shadow: 0px 0px 6px var(--box-color);
    // --box-color: #d7d8da;
    // border: 1px solid #888;
  }

  ion-toolbar{
    text-align: center;
    font-family: cursive;
  }