<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="onBack()" routerLink="/user/home">
      <ion-icon name="chevron-back-outline"></ion-icon>
      
    </ion-button>
  </ion-buttons>

  <ion-title>BESOINS</ion-title>
  
</ion-toolbar>

<ion-content [fullscreen]="true">
  <form action="">
    <ion-list>
      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Malade</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>urgence familialle</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Besoin de renfort</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Besoin d'equipement</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>


<ion-toolbar>
  <ion-button class="book-ticket" shape="round" expand="block">
    ENVOYER
  </ion-button>

</ion-toolbar>